*.iml
*.xml
*.kotlin_module
Assignment2/.idea/$PRODUCT_WORKSPACE_FILE$
.idea/$PRODUCT_WORKSPACE_FILE$
Assignment2/out/production/Assignment2/com/coderscampus/Assignment2/NumberGuess.class
out/production/Assignment2/com/coderscampus/Assignment2/NumberGuess.class
out/production/Week2/com/coderscampus/Week2/IfStatements.class
out/production/Week3/com/coderscampus/objects/ForLoopExample.class
out/production/Week3/com/coderscampus/objects/Human.class
out/production/Week3/com/coderscampus/objects/Loops.class
out/production/Week3/com/coderscampus/objects/RunnableClass.class
out/production/Week3/com/coderscampus/objects/WhileLoopExample.class
out/production/Week5/com/coderscampus/lessons/AccessModifiers.class
out/production/Week5/com/coderscampus/lessons/Human.class
out/production/Week5/com/coderscampus/lessons/StaticExample.class
Week2/out/production/Java Bootcamp/com/coderscampus/Week2/IfStatements.class
Week3/out/production/Week3/com/coderscampus/objects/ForLoopExample.class
Week3/out/production/Week3/com/coderscampus/objects/Human.class
Week3/out/production/Week3/com/coderscampus/objects/Loops.class
Week3/out/production/Week3/com/coderscampus/objects/RunnableClass.class
Week3/out/production/Week3/com/coderscampus/objects/WhileLoopExample.class
out/production/Week5/com/coderscampus/lessons/User.class
out/production/Week5/com/coderscampus/lessons/UserApplication.class
out/production/Week5/com/coderscampus/lessons/UserService.class
